*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: "Nunito", sans-serif;
  color: #54483a; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif; }

.heading-1 {
  font-size: 6rem; }

.heading-2 {
  font-size: 4rem;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  line-height: 1; }

.heading-3 {
  font-size: 2rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }

.mb-xs {
  margin-bottom: 1rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 6rem; }

.mb-hg {
  margin-bottom: 8rem; }

.btn {
  color: #fff;
  background-color: #c69963;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #b28451; }

.sidebar {
  background-color: #c69963;
  grid-row: 1 / -1; }

.header {
  background-color: #101d2c;
  grid-column: full-start / col-end 6; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.features {
  margin: 15rem 0;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
  align-content: start; }
  .feature__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #c69963;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.story__photos {
  width: 100%;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url("./../img/back.jpg");
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; }

.story__photo--1 {
  width: 100%;
  object-fit: contain;
  grid-column: 2/6;
  grid-row: 2/6; }

.story__photo--2 {
  object-fit: contain;
  width: 115%;
  grid-column: 4/-1;
  grid-row: 4/6;
  z-index: 10; }

.story__content {
  padding: 15rem 20%;
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

.story__text {
  font-size: 1.5rem;
  margin-bottom: 3rem; }

.homes {
  grid-column: center-start / center-end;
  margin: 12rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem; }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  justify-items: center; }
  .home__img {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1 / 3; }
  .home__like {
    margin: 1rem;
    width: 4rem;
    height: 4rem;
    fill: #c69963;
    grid-row: 1/2;
    grid-column: 2 / 3;
    justify-self: end; }
  .home__name {
    background-color: #101d2c;
    color: #f9f7f6;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    width: 80%;
    transform: translateY(50%);
    grid-row: 1/2;
    grid-column: 1 / 3;
    align-self: flex-end; }
  .home__rooms, .home__location {
    margin-top: 1rem; }
  .home__rooms, .home__area, .home__location, .home__price {
    display: flex;
    align-items: center; }
    .home__rooms svg, .home__area svg, .home__location svg, .home__price svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: #b28451;
      margin-right: 1rem; }
    .home__rooms p, .home__area p, .home__location p, .home__price p {
      color: #6d5d4b;
      font-size: 1.3rem; }
  .home__btn {
    grid-column: 1 / 3;
    padding: 1.5rem 2.1rem;
    justify-self: stretch; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 2rem; }
  .gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
  .gallery__item--3 {
    grid-row: 1 / span 2;
    grid-column: 6 / span 1; }
  .gallery__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / span 2; }
  .gallery__item--5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
  .gallery__item--7 {
    grid-row: 4 / span 1;
    grid-column: 5 / span 1; }
  .gallery__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
  .gallery__item--9 {
    grid-row: 3 / span 3;
    grid-column: 8 / span 1; }
  .gallery__item--10 {
    grid-row: 6 / span 2;
    grid-column: 1 / span 1; }
  .gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
  .gallery__item--12 {
    grid-row: 6 / span 2;
    grid-column: 4 / span 1; }
  .gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
  .gallery__item--14 {
    grid-row: 6 / span 2;
    grid-column: 8 / span 1; }

.footer {
  color: #f9f7f6;
  background-color: #101d2c;
  padding: 8rem;
  grid-column: full-start / full-end; }

.nav {
  list-style: none;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  align-items: center; }
  .nav__link, .nav__link:visited {
    display: inline-block;
    color: currentColor;
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
    padding: 1.5rem;
    transition: all 0.2s; }
  .nav__link:hover {
    transform: translateY(-3px);
    background-color: rgba(255, 255, 255, 0.1); }

.copyright {
  width: 80%;
  margin: 8rem auto 0;
  text-align: center;
  font-size: 1.3rem; }
