.footer {
  color: $color-grey-light-1;
  background-color: $color-secondary;
  padding: 6rem;

  grid-column: full-start / full-end;
}

.nav {
  list-style: none;

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  align-content: center;
  align-items: center;
  justify-content: center;

  &__link,
  &__link:visited {
    display: inline-block;
    color: currentColor;
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
    padding: 1.3rem;
    transition: all 0.2s;
  }

  &__link:hover {
    transform: translateY(-3px);
    background-color: rgba(#fff, 0.1);
  }
}

.copyright {
  width: 80%;
  margin: 8rem auto 0;
  text-align: center;
  font-size: 1.3rem;
}
