.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;

  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-gap: 3rem;

  @media screen and (max-width: $bp-medium) {
    padding: 3rem;
    grid-column: full-start / full-end;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;

    @media screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
    }
  }

  &__details {
  }

  &__img {
    width: 6rem;
    border-radius: 50%;
  }

  &__sold {
    color: $color-grey-light-2;
    font-size: 1.2rem;
  }
}
